<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assessment Center</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style2.css')}}">
    <style>
        body {
            margin: 9px 20px 0px 50px;
            padding: 0;
        }
    </style>
</head>

<body>
    <h1>Identification of Hidden Numbers</h1>
    <div id="timer">00:00</div>
    <button id="startBtn" class="btn">Start</button>
    <button id="stopBtn" class="btn">Stop</button>
    <main class="image-container">
        <img src="{{ url_for('static', filename='images/find number/0.jpeg') }}" class="slide">
        <img src="{{ url_for('static', filename='images/find number/1.jpeg') }}" class="slide">
        <img src="{{ url_for('static', filename='images/find number/2.jpeg') }}" class="slide">
        <img src="{{ url_for('static', filename='images/find number/3.jpeg') }}" class="slide">
        <img src="{{ url_for('static', filename='images/find number/4.jpeg') }}" class="slide">
        <img src="{{ url_for('static', filename='images/find number/5.jpeg') }}" class="slide">
        <img src="{{ url_for('static', filename='images/find number/6.jpeg') }}" class="slide">
        <img src="{{ url_for('static', filename='images/find number/7.jpeg') }}" class="slide">
        <img src="{{ url_for('static', filename='images/find number/8.jpeg') }}" class="slide">
        <img src="{{ url_for('static', filename='images/find number/9.jpeg') }}" class="slide">
        <img src="{{ url_for('static', filename='images/find number/10.jpeg') }}" class="slide">
        <img src="{{ url_for('static', filename='images/find number/11.jpeg') }}" class="slide">
    </main>
    <div class="nav">
        <button class="circle-btn" onclick="goprev()">Prev</button>
        <button class="circle-btn" onclick="gonext()">Next</button>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>