<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assessment Center</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style2.css')}}">
    <style>
        body {
            margin: 9px 20px 0px 50px;
            padding: 0;
        }
    </style>
</head>

<body>
    <h1>Spot the Difference</h1>
    <div id="timer">00:00</div>
    <button id="startBtn" class="btn">Start</button>
    <button id="stopBtn" class="btn">Stop</button>
    <main class="image-container">
        <img src="{{ url_for('static', filename='images/spot_the_difference/0.jpeg') }}" class="slide">
        <img src="{{ url_for('static', filename='images/spot_the_difference/1a.jpg') }}" class="slide">
        <img src="{{ url_for('static', filename='images/spot_the_difference/1.jpeg') }}" class="slide">
        <img src="{{ url_for('static', filename='images/spot_the_difference/2.jpeg') }}" class="slide">
        <img src="{{ url_for('static', filename='images/spot_the_difference/3.jpeg') }}" class="slide">
        <img src="{{ url_for('static', filename='images/spot_the_difference/4.jpeg') }}" class="slide">
        <img src="{{ url_for('static', filename='images/spot_the_difference/5.jpeg') }}" class="slide">
        <img src="{{ url_for('static', filename='images/spot_the_difference/6.jpeg') }}" class="slide">
        <img src="{{ url_for('static', filename='images/spot_the_difference/7.jpeg') }}" class="slide">
        <img src="{{ url_for('static', filename='images/spot_the_difference/8.jpeg') }}" class="slide">
        <img src="{{ url_for('static', filename='images/spot_the_difference/9.jpeg') }}" class="slide">
        <img src="{{ url_for('static', filename='images/spot_the_difference/10.jpeg') }}" class="slide">
        <img src="{{ url_for('static', filename='images/spot_the_difference/11.jpeg') }}" class="slide">
        <img src="{{ url_for('static', filename='images/spot_the_difference/12.jpeg') }}" class="slide">
        <img src="{{ url_for('static', filename='images/spot_the_difference/13.jpeg') }}" class="slide">
    </main>
    <div class="nav">
        <button class="circle-btn" onclick="goprev()">Prev</button>
        <button class="circle-btn" onclick="gonext()">Next</button>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>